.containerAll {
  font-family: 'Times New Roman', Times, serif;
}

.heroSection {
  position: relative;
}

.heroImage {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.heroText, .heroTitle {
  position: absolute;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.35rem;
  text-shadow: 3px 3px 12px black;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.heroText1 {
  top: 62%;
  left: 67%;
  width: 60%;
  animation-delay: 4s;
}

.heroText2 {
  top: 79%;
  left: 67%;
  width: 60%;
  animation-delay: 5s;
}

.heroText3 {
  top: 90%;
  left: 67%;
  width: 60%;
  animation-delay: 6s;
}

.heroTitle {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 3rem;
  animation-duration: 2s;
  animation-delay: 1s;
}

.aboutContainer {
  padding: 5% 8%;
}
.aboutTitle {
  text-align: center;
  font-size: 3em;
  padding-bottom: 3%;
}
.aboutText {
  font-size: 1.25em;
}
.sliderContainer {
  text-align: center;
}

.sliderImage {
  width: 60%;
  max-width: 600px;
  height: auto;
  border-radius: 20%;
  position: relative;
  margin-top: 5%;
}
.left-arrow {
position: absolute;
font-size: 2rem;
top: 33%;
left: 10%;
transform: translateY(-50%);
}
.right-arrow {
  position: absolute;
  font-size: 2rem;
top: 33%;
right: 10%;
transform: translateY(-50%);
}

.ProjectsContainer {
  display: flex;
  flex-direction: column;
  min-height: 110vh;
}
.ProjectsTitle {
  text-align: center;
  font-size: 3rem;
  color: #007bff;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  height: 60vh;
}
.card {
  cursor: pointer;
  background-color: transparent;
  
  height: 40vh;
  perspective: 1000px;
}
.cardP {
  font-size: .85rem;
}
.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card:hover .card-inner {
  transform: rotateY(180deg);
}
.card-front, 
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  background-color: #333;
  color: white;
  transform: rotateY(180deg);
}
.card li {
  list-style: none;
  padding-bottom: 10px;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
  
  gap: 1rem;
  height: 100vh;
  }
}
@media (max-width: 500px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    height: 120vh;
  }
}

.footer {
  
  width: 100%;
  background-color: lightgray;
  color: black;
  text-align: center;
  
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  
  .heroText {
    font-size: 0.7rem;
    font-weight: 700;
    top: 60%;
    animation-delay: 3s;
  }

  .heroText2 {
    font-size: 0.7rem;
    font-weight: 700;
    top: 80%;
    animation-delay: 6s;
  }

  .heroText3 {
    font-size: 0.7rem;
    font-weight: 700;
    top: 90%;
    animation-delay: 8s;
  }

  .heroTitle {
    font-size: 2.75rem;
    padding-top: 5%;
  }

  .left-arrow {
    position: absolute;
    font-size: 2rem;
    top: 25%;
    left: 10%;
    transform: translateY(-50%);
    }

    .right-arrow {
      position: absolute;
      font-size: 2rem;
    top: 25%;
    right: 10%;
    transform: translateY(-50%);
    }
}