.heroSection {
  position: relative;
}

.heroImage {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.heroText {
  position: absolute;
  top: 62%;
  left: 67%;
  width: 60%;
  transform: translate(-50%, -50%);
  color: rgb(251, 255, 2);
  font-size: 1.35rem;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 3s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

.heroText2 {
    position: absolute;
    top: 79%;
    left: 67%;
    width: 60%;
    transform: translate(-50%, -50%);
    color: rgb(251, 255, 2);
    font-size: 1.35rem;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 3s;
    animation-delay: 8s;
    animation-fill-mode: forwards;
  
}

.heroTitle {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 3rem;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  
  .heroText {
    font-size: 0.7rem;
    font-weight: 700;
    top: 60%;
    animation-delay: 3s;
  }

  .heroText2 {
    font-size: 0.7rem;
    font-weight: 700;
    top: 80%;
    animation-delay: 6s;
  }

  .heroTitle {
    font-size: 2.75rem;
    padding-top: 5%;
  }
}